<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recogniser</title>
    <link rel="stylesheet"  href="../static/index.css" />
</head>
<body>
    <div class="title">
        <h1>DIGIT RECOGNIZER</h1>
    </div>
    <div class="container">
        <h2>Choose an image using the index value</h2>
        <h3>Enter a number from (0-59999):</h3>
        <input type="number" id="index"/>
        <button id="run" onclick="return handleGetValue()">Run Model</button>
    </div>
    <div class="result">

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../static/index.js"></script>
</body>
</html>